doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color' content='#000000')
    title= htmlWebpackPlugin.options.title
    link(rel='icon' href='img/favicon.png')
    link(rel='manifest' href='manifest.json')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
    link(rel='stylesheet' href='main.css')
  body
    div(class='container')
      include example.html
